<a href="https://colab.research.google.com/github/ZaidAhmad72/INIT_TASK/blob/main/init_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

#Part A: Data Loading & Basic Operations

##Basic Exploration

###Loading all three datasets

In [2]:
cust = pd.read_csv('/content/customers.csv')
prod = pd.read_csv('/content/products.csv')
tran = pd.read_csv('/content/transactions.csv')

Shape of each dataframe

In [3]:
cust.shape

(2000, 6)

In [4]:
prod.shape

(150, 5)

In [5]:
tran.shape

(10015, 7)

Data types of all columnsData types of all columns

In [6]:
cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    2000 non-null   int64
 1   customer_name  2000 non-null   object
 2   email          1947 non-null   object
 3   signup_date    2000 non-null   object
 4   country        2000 non-null   object
 5   age            1900 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 93.9+ KB

In [7]:
prod.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    150 non-null    int64
 1   product_name  150 non-null    object
 2   category      147 non-null    object
 3   supplier_id   150 non-null    int64
 4   cost_price    150 non-null    float64
dtypes: float64(1), int64(2), object(2)
memory usage: 6.0+ KB

In [8]:
tran.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10015 entries, 0 to 10014
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction_id  10015 non-null  int64
 1   customer_id     10015 non-null  int64
 2   product_id      10015 non-null  int64
 3   quantity        9918 non-null   float64
 4   price           9913 non-null   float64
 5   timestamp       10015 non-null  object
 6   payment_method  9914 non-null   object
dtypes: float64(2), int64(3), object(2)
memory usage: 547.8+ KB

First 3 rows of each dataset

In [9]:
cust.head(3)

,customer_id,customer_name,email,signup_date,country,age
0,1,Customer41,customer410@yahoo.com,2022-01-28,UK,30.0
1,2,Custome41,custome411@email.com,2023-10-28,Mexico,29.0
2,3,customer41,customer412@email.com,2023-04-05,Australia,69.0

In [10]:
prod.head(3)

   product_id   product_name category  supplier_id  cost_price
0           1  Product_OFF_0     Toys           28      113.16
1           2  Product_SPO_1    Books           43      166.06
2           3  Product_SPO_2    Books           47      128.13

In [11]:
tran.head(3)

,transaction_id,customer_id,product_id,quantity,price,timestamp,payment_method
0,4292,130,89,1.0,112.87,2024-08-17 09:13:00,Credit Card
1,9107,271,98,1.0,211.90,2023-11-17 20:50:00,PayPal
2,7842,66,33,1.0,225.04,2023-03-21 23:23:00,Bank Transfer

###Number of missing values in each column

In [12]:
cust.isnull().sum()

customer_id        0
customer_name      0
email             53
signup_date        0
country            0
age              100
dtype: int64

In [13]:
prod.isnull().sum()

product_id      0
product_name    0
category        3
supplier_id     0
cost_price      0
dtype: int64

In [14]:
tran.isnull().sum()

transaction_id      0
customer_id         0
product_id          0
quantity           97
price             102
timestamp           0
payment_method    101
dtype: int64

###Number of duplicate transaction_id entries

In [15]:
tran['transaction_id'].duplicated().sum()

np.int64(15)

###Date range of transactions (earliest and latest)

In [16]:
earliestTran = tran['timestamp'].min()
latestTran = tran['timestamp'].max()

In [17]:
print(earliestTran)
print(latestTran)

2023-01-01 00:39:00
2024-12-31 22:18:00

##Datetime Transformation

Converting timestamp to datetime format

In [18]:
tran['timestamp'] = pd.to_datetime(
    tran['timestamp'],
    errors='coerce' #handles error for eg: if null value is found it will replace it with ' Not a time '
)

In [19]:
tran['timestamp'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 10015 entries, 0 to 10014
Series name: timestamp
Non-Null Count  Dtype
--------------  -----
10015 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 78.4 KB

Extracting hour,day,month

In [20]:
tran['transaction_hour'] = tran['timestamp'].dt.hour
tran['transaction_day'] = tran['timestamp'].dt.day
tran['transaction_month'] = tran['timestamp'].dt.month

In [21]:
tran.head(3)

,transaction_id,customer_id,product_id,quantity,price,timestamp,payment_method,transaction_hour,transaction_day,transaction_month
0,4292,130,89,1.0,112.87,2024-08-17 09:13:00,Credit Card,9,17,8
1,9107,271,98,1.0,211.90,2023-11-17 20:50:00,PayPal,20,17,11
2,7842,66,33,1.0,225.04,2023-03-21 23:23:00,Bank Transfer,23,21,3

#Part B: Data Cleaning & Transformation

##Handle Missing Values

starting with customer dataset

In [22]:
cust.isnull().sum()

customer_id        0
customer_name      0
email             53
signup_date        0
country            0
age              100
dtype: int64

replacing null values in age with median

In [23]:
cust['age'].fillna(cust['age'].median(), inplace=True)

/tmp/ipython-input-2545749826.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cust['age'].fillna(cust['age'].median(), inplace=True)

In [24]:
cust['email'].fillna('Email not available', inplace=True)

/tmp/ipython-input-3904219548.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cust['email'].fillna('Email not available', inplace=True)

In [25]:
cust.isnull().sum()

customer_id      0
customer_name    0
email            0
signup_date      0
country          0
age              0
dtype: int64

moving onto products dataset

In [26]:
prod.isnull().sum()

product_id      0
product_name    0
category        3
supplier_id     0
cost_price      0
dtype: int64

In [27]:
prod['category'].fillna('No category provided', inplace=True)

/tmp/ipython-input-134454452.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  prod['category'].fillna('No category provided', inplace=True)

In [28]:
prod.isnull().sum()

product_id      0
product_name    0
category        0
supplier_id     0
cost_price      0
dtype: int64

moving onto transactions dataset

In [29]:
tran.isnull().sum()

transaction_id         0
customer_id            0
product_id             0
quantity              97
price                102
timestamp              0
payment_method       101
transaction_hour       0
transaction_day        0
transaction_month      0
dtype: int64

In [30]:
tran.head(3)

,transaction_id,customer_id,product_id,quantity,price,timestamp,payment_method,transaction_hour,transaction_day,transaction_month
0,4292,130,89,1.0,112.87,2024-08-17 09:13:00,Credit Card,9,17,8
1,9107,271,98,1.0,211.90,2023-11-17 20:50:00,PayPal,20,17,11
2,7842,66,33,1.0,225.04,2023-03-21 23:23:00,Bank Transfer,23,21,3

quantity and price are the important details of a trasaction so the best approach would be to drop the row completely

In [31]:
tran.dropna(subset=['quantity', 'price'], inplace=True)

In [32]:
tran['payment_method'].fillna('Payment Method Not Available', inplace=True)

/tmp/ipython-input-621727147.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  tran['payment_method'].fillna('Payment Method Not Available', inplace=True)

In [33]:
tran.isnull().sum()

transaction_id       0
customer_id          0
product_id           0
quantity             0
price                0
timestamp            0
payment_method       0
transaction_hour     0
transaction_day      0
transaction_month    0
dtype: int64

In [34]:
tran.shape

(9816, 10)

##Revenue Calculation

create a new column called 'revenue'
revenue = quantity  price

In [35]:
tran['revenue'] = tran['price'] * tran['quantity']

In [36]:
tran.sample(3)

,transaction_id,customer_id,product_id,quantity,price,timestamp,payment_method,transaction_hour,transaction_day,transaction_month,revenue
5245,2049,406,73,5.0,89.00,2024-04-22 05:38:00,Debit Card,5,22,4,445.00
2592,4033,514,60,3.0,338.33,2023-08-18 16:58:00,Credit Card,16,18,8,1014.99
6033,4685,1101,144,1.0,127.49,2023-12-26 04:13:00,PayPal,4,26,12,127.49

##Merge Datasets

Creating a single dataframe full_data that includes:


*   All transaction details
*   Customer information
*   Product information

in order to avoid data loss , we will use left join

first merge trasaction to customer (left join)-> customer id column is column

In [37]:
df_temp = pd.merge(
    tran,
    cust,
    on='customer_id',
    how='left',
    suffixes=('_tran', '_cust')
)

now do the same with the temp data and product on product_id

In [38]:
full_data = pd.merge(
    df_temp,
    prod,
    on='product_id',
    how='left',
    suffixes=('', '_prod')
)

In [39]:
full_data.head(3)

,transaction_id,customer_id,product_id,quantity,price,timestamp,payment_method,transaction_hour,transaction_day,transaction_month,revenue,customer_name,email,signup_date,country,age,product_name,category,supplier_id,cost_price
0,4292,130,89,1.0,112.87,2024-08-17 09:13:00,Credit Card,9,17,8,112.87,Customer_129,customer_129129@yahoo.com,2023-12-20,Canada,40.0,Product_HOM_88,Books,2,59.72
1,9107,271,98,1.0,211.90,2023-11-17 20:50:00,PayPal,20,17,11,211.90,Customer_270,customer_270270@email.com,2022-11-09,India,21.0,Product_BOO_97,Home & Garden,26,84.89
2,7842,66,33,1.0,225.04,2023-03-21 23:23:00,Bank Transfer,23,21,3,225.04,Customer_65,customer_6565@email.com,2023-08-08,Canada,62.0,Product_BOO_32,Electronics,22,103.61

In [40]:
full_data.shape

(9816, 20)

##Profit Margin Calculation

create a new column names 'profit_margin' where profit_margin = (price - cost_price) / price  100

In [41]:
full_data['profit_margin'] = (full_data['price'] - full_data['cost_price']) / full_data['price'] * 100

In [42]:
full_data.sample(3)

,transaction_id,customer_id,product_id,quantity,price,timestamp,payment_method,transaction_hour,transaction_day,transaction_month,...,customer_name,email,signup_date,country,age,product_name,category,supplier_id,cost_price,profit_margin
6831,9719,372,97,1.0,138.25,2024-09-09 07:13:00,Credit Card,7,9,9,...,Customer_371,customer_371371@gmail.com,2024-01-20,USA,65.0,Product_TOY_96,Office,1,82.87,40.057866
9712,5608,464,59,2.0,257.52,2023-06-15 15:58:00,Debit Card,15,15,6,...,Customer_463,customer_463463@email.com,2022-02-23,Germany,49.0,Product_BOO_58,Toys,8,138.44,46.241069
6897,6746,539,28,1.0,180.21,2023-11-01 16:06:00,Cash,16,1,11,...,Customer_538,customer_538538@company.com,2023-01-09,Canada,60.0,Product_HOM_27,Clothing,38,104.78,41.856723

#Part C: Aggregation & Analysis

##C1. Customer Metrics

Calculaing per customer:

1.Total revenue generated

In [43]:
full_data.head(3)

,transaction_id,customer_id,product_id,quantity,price,timestamp,payment_method,transaction_hour,transaction_day,transaction_month,...,customer_name,email,signup_date,country,age,product_name,category,supplier_id,cost_price,profit_margin
0,4292,130,89,1.0,112.87,2024-08-17 09:13:00,Credit Card,9,17,8,...,Customer_129,customer_129129@yahoo.com,2023-12-20,Canada,40.0,Product_HOM_88,Books,2,59.72,47.089572
1,9107,271,98,1.0,211.90,2023-11-17 20:50:00,PayPal,20,17,11,...,Customer_270,customer_270270@email.com,2022-11-09,India,21.0,Product_BOO_97,Home & Garden,26,84.89,59.938650
2,7842,66,33,1.0,225.04,2023-03-21 23:23:00,Bank Transfer,23,21,3,...,Customer_65,customer_6565@email.com,2023-08-08,Canada,62.0,Product_BOO_32,Electronics,22,103.61,53.959296

In [44]:
revenue_per_cust= full_data.groupby('customer_id')['revenue'].sum()

In [45]:
revenue_per_cust.sort_values(ascending=False)

customer_id
399     24854.430000
157     20708.480000
337     20460.087386
127     20127.173151
221     19807.620000
            ...
1936       26.420000
1251       26.150000
446        21.100000
1534       20.770000
277        17.060000
Name: revenue, Length: 1687, dtype: float64

2.Number of transactions

In [46]:
tran_per_cust = full_data.groupby('customer_id')['transaction_id'].count()

In [47]:
tran_per_cust.sort_values(ascending=False)

customer_id
129     50
248     48
138     46
127     46
132     46
        ..
980      1
982      1
300      1
1998     1
1982     1
Name: transaction_id, Length: 1687, dtype: int64

3.Average transaction value

In [48]:
avg_ordervalue_per_cust = full_data.groupby('customer_id')['revenue'].mean()

In [49]:
avg_ordervalue_per_cust.sort_values(ascending=False)

customer_id
1970    4503.700000
588     4213.780263
1982    3564.600000
1748    3124.800000
1365    2469.040000
           ...
1251      26.150000
821       25.650000
446       21.100000
1534      20.770000
277       17.060000
Name: revenue, Length: 1687, dtype: float64

4.Most frequently purchased category

In [50]:
most_purchased_category_per_cust = full_data.groupby('customer_id')['category'].apply(lambda x: x.mode().iloc[0] if not x.mode().empty else 'N/A')

In [51]:
most_purchased_category_per_cust.sort_values(ascending=False)

customer_id
1615          Toys
1063          Toys
714           Toys
1071          Toys
341           Toys
           ...
1798    Automotive
1801    Automotive
1214    Automotive
506     Automotive
1423    Automotive
Name: category, Length: 1687, dtype: object

DataFrame sorted by total revenue (descending)

In [52]:
customer_metrics = pd.DataFrame({
    'total_revenue': revenue_per_cust,
    'no_of_transactions': tran_per_cust,
    'avg_transaction_value': avg_ordervalue_per_cust,
    'most_purchased_category': most_purchased_category_per_cust,
})

In [53]:
customer_metrics.head().sort_values('total_revenue', ascending=False)

,total_revenue,no_of_transactions,avg_transaction_value,most_purchased_category
customer_id,,,,
3,10661.36,28,380.762857,Automotive
4,4383.63,8,547.953750,Books
5,1920.98,5,384.196000,Sports
1,1424.99,5,284.998000,Food & Beverage
2,641.99,3,213.996667,Food & Beverage

##C2. Time-Based Analysis

In [54]:
full_data.head(3)

,transaction_id,customer_id,product_id,quantity,price,timestamp,payment_method,transaction_hour,transaction_day,transaction_month,...,customer_name,email,signup_date,country,age,product_name,category,supplier_id,cost_price,profit_margin
0,4292,130,89,1.0,112.87,2024-08-17 09:13:00,Credit Card,9,17,8,...,Customer_129,customer_129129@yahoo.com,2023-12-20,Canada,40.0,Product_HOM_88,Books,2,59.72,47.089572
1,9107,271,98,1.0,211.90,2023-11-17 20:50:00,PayPal,20,17,11,...,Customer_270,customer_270270@email.com,2022-11-09,India,21.0,Product_BOO_97,Home & Garden,26,84.89,59.938650
2,7842,66,33,1.0,225.04,2023-03-21 23:23:00,Bank Transfer,23,21,3,...,Customer_65,customer_6565@email.com,2023-08-08,Canada,62.0,Product_BOO_32,Electronics,22,103.61,53.959296

Computing per month:

1.Total revenue

In [55]:
revenue_per_month = full_data.groupby('transaction_month')['revenue'].sum()

In [56]:
revenue_per_month

transaction_month
1     347639.625521
2     298545.443932
3     354866.631710
4     337700.276001
5     322165.564917
6     347059.859518
7     306060.573423
8     299185.504071
9     291656.493392
10    322759.196807
11    327249.883071
12    341241.130223
Name: revenue, dtype: float64

2.Number of unique customers

In [57]:
unique_cust_per_month =  full_data.groupby('transaction_month')['customer_id'].count()

In [58]:
unique_cust_per_month

transaction_month
1     897
2     759
3     857
4     867
5     840
6     856
7     783
8     794
9     722
10    785
11    811
12    845
Name: customer_id, dtype: int64

3.Average order value

In [59]:
avg_orderval_per_month = full_data.groupby('transaction_month')['revenue'].mean()

In [60]:
avg_orderval_per_month

transaction_month
1     387.558111
2     393.340506
3     414.080084
4     389.504355
5     383.530434
6     405.443761
7     390.881958
8     376.807940
9     403.956362
10    411.158212
11    403.514036
12    403.835657
Name: revenue, dtype: float64

4.Month-over-month growth rate (%)

In [61]:
mom_growth_rate = full_data.groupby('transaction_month')['revenue'].sum().pct_change() * 100
mom_growth_rate

transaction_month
1           NaN
2    -14.122148
3     18.865198
4     -4.837411
5     -4.600148
6      7.727174
7    -11.813318
8     -2.246310
9     -2.516502
10    10.664156
11     1.391343
12     4.275402
Name: revenue, dtype: float64

##C3. Product Performance

In [62]:
full_data.columns

Index(['transaction_id', 'customer_id', 'product_id', 'quantity', 'price',
       'timestamp', 'payment_method', 'transaction_hour', 'transaction_day',
       'transaction_month', 'revenue', 'customer_name', 'email', 'signup_date',
       'country', 'age', 'product_name', 'category', 'supplier_id',
       'cost_price', 'profit_margin'],
      dtype='object')

In [63]:
full_data.head(3)

,transaction_id,customer_id,product_id,quantity,price,timestamp,payment_method,transaction_hour,transaction_day,transaction_month,...,customer_name,email,signup_date,country,age,product_name,category,supplier_id,cost_price,profit_margin
0,4292,130,89,1.0,112.87,2024-08-17 09:13:00,Credit Card,9,17,8,...,Customer_129,customer_129129@yahoo.com,2023-12-20,Canada,40.0,Product_HOM_88,Books,2,59.72,47.089572
1,9107,271,98,1.0,211.90,2023-11-17 20:50:00,PayPal,20,17,11,...,Customer_270,customer_270270@email.com,2022-11-09,India,21.0,Product_BOO_97,Home & Garden,26,84.89,59.938650
2,7842,66,33,1.0,225.04,2023-03-21 23:23:00,Bank Transfer,23,21,3,...,Customer_65,customer_6565@email.com,2023-08-08,Canada,62.0,Product_BOO_32,Electronics,22,103.61,53.959296

Finding Top 10 Products by:

1.Total revenue

In [64]:
top_revenue_product = full_data.groupby('product_name')['revenue'].sum().sort_values(ascending=False)

In [65]:
top_revenue_product.head(10)

product_name
Product_OFF_59     76118.254739
Product_OFF_47     71094.597896
Product_CLO_115    65905.387761
Product_ELE_91     64647.620000
Product_AUT_124    56546.750931
Product_AUT_117    55178.950000
Product_ELE_74     54547.240000
Product_OFF_107    54293.740000
Product_BEA_86     52118.756127
Product_TOY_7      52028.950000
Name: revenue, dtype: float64

2.Total quantity sold

In [66]:
top_quantity_product = full_data.groupby('product_name')['quantity'].sum().sort_values(ascending=False)

In [67]:
top_quantity_product.head(10)

product_name
Product_SPO_40     1745.0
Product_SPO_37     1473.0
Product_BOO_38     1248.0
Product_CLO_115    1207.0
Product_BOO_131    1133.0
Product_HOM_27     1118.0
Product_HOM_130    1116.0
Product_OFF_59     1108.0
Product_AUT_46     1104.0
Product_BOO_23      988.0
Name: quantity, dtype: float64

3.Profit margin

In [68]:
top_profit_product = full_data.groupby('product_name')['profit_margin'].mean().sort_values(ascending=False)

In [69]:
top_profit_product.head(10)

product_name
Product_AUT_120    48.049589
Product_OFF_85     47.474069
Product_CLO_87     47.035482
Product_ELE_103    46.776436
Product_SPO_141    46.484894
Product_TOY_20     46.346305
Product_OFF_0      46.233779
Product_BOO_83     46.179968
Product_AUT_117    46.104987
Product_BEA_140    45.570574
Name: profit_margin, dtype: float64

In [70]:
product_performance = pd.DataFrame({
    'total_revenue': top_revenue_product,
    'total_quantity_sold': top_quantity_product,
    'profit_margin': top_profit_product,
})

In [71]:
product_performance.shape

(147, 3)

In [72]:
product_performance.head(5)

                 total_revenue  total_quantity_sold  profit_margin
product_name
Product_AUT_105   47226.949844                413.0     -91.990991
Product_AUT_111   24362.535921                652.0     -83.826435
Product_AUT_114   25048.380000                132.0      39.667896
Product_AUT_117   55178.950000                215.0      46.104987
Product_AUT_120    8012.000000                113.0      48.049589

##C4. Customer Segmentation (RFM)

In [73]:
full_data.columns

Index(['transaction_id', 'customer_id', 'product_id', 'quantity', 'price',
       'timestamp', 'payment_method', 'transaction_hour', 'transaction_day',
       'transaction_month', 'revenue', 'customer_name', 'email', 'signup_date',
       'country', 'age', 'product_name', 'category', 'supplier_id',
       'cost_price', 'profit_margin'],
      dtype='object')

In [74]:
full_data.head(3)

,transaction_id,customer_id,product_id,quantity,price,timestamp,payment_method,transaction_hour,transaction_day,transaction_month,...,customer_name,email,signup_date,country,age,product_name,category,supplier_id,cost_price,profit_margin
0,4292,130,89,1.0,112.87,2024-08-17 09:13:00,Credit Card,9,17,8,...,Customer_129,customer_129129@yahoo.com,2023-12-20,Canada,40.0,Product_HOM_88,Books,2,59.72,47.089572
1,9107,271,98,1.0,211.90,2023-11-17 20:50:00,PayPal,20,17,11,...,Customer_270,customer_270270@email.com,2022-11-09,India,21.0,Product_BOO_97,Home & Garden,26,84.89,59.938650
2,7842,66,33,1.0,225.04,2023-03-21 23:23:00,Bank Transfer,23,21,3,...,Customer_65,customer_6565@email.com,2023-08-08,Canada,62.0,Product_BOO_32,Electronics,22,103.61,53.959296

Using Recency, Frequency, Monetary (RFM) logic:

1.Recency: Days since last purchase (from latest transaction date) <br>
2.Frequency: Total number of transactions <br>
3.Monetary: Total revenue generated

In [75]:
latest_transaction_date = full_data['timestamp'].max()

In [76]:
def days_since_lastPurchase(series):
    return (latest_transaction_date - series.max()).days

In [77]:
rfm_data = full_data.groupby('customer_id').agg(
    Recency=('timestamp', days_since_lastPurchase),
    Frequency=('transaction_id', 'count'),
    Monetary=('revenue', 'sum')
).reset_index()

In [78]:
rfm_data

      customer_id  Recency  Frequency      Monetary
0               1      320          5   1424.990000
1               2       38          3    641.990000
2               3       38         28  10661.360000
3               4      172          8   4383.630000
4               5      143          5   1920.980000
...           ...      ...        ...           ...
1682         1994      129          5   2428.320000
1683         1996      391          1    279.430000
1684         1997      174          4   1997.030000
1685         1998      273          1   1265.050000
1686         1999       39          7   3315.822687

[1687 rows x 4 columns]

#Part D: Advanced Operations

##Efficient Operations Challenge

Identifying suspicious transactions(quantity > 100 AND price < 10,
 OR Customers with more than 3 purchases in a single hour.)

In [79]:
def find_suspicious_transactions(full_data):
    #  Identifying suspicious transactions using vectorized operations

    mask_price_qty = (full_data['quantity'] > 100) & (full_data['price'] < 10)

    # Group by customer_id, day, and hour, then count transactions
    hour_count = full_data.groupby(['customer_id', full_data['timestamp'].dt.date, full_data['transaction_hour']])[
        'transaction_id'
    ].transform('count')

    mask_frequency = hour_count > 3

    #Merge both the suspicions
    suspicious_mask = mask_price_qty | mask_frequency

    suspicious_df = full_data[suspicious_mask].copy()

    #Create reason column

    conditions = [mask_price_qty[suspicious_mask], mask_frequency[suspicious_mask]]
    reasons = [
        "Unusual Qty/Price combination",
        "More than 3 purchases"
    ]

    # np.select applies the reasons based on the conditions
    suspicious_df['reason'] = np.select(conditions, reasons, default='Multiple reasons')

    return suspicious_df[['transaction_id', 'customer_name', 'reason']]

In [80]:
find_suspicious_transactions(full_data)

      transaction_id  customer_name                         reason
27               358  Customer_1231          More than 3 purchases
106             7249   Customer_453          More than 3 purchases
156             5808  Customer_1893  Unusual Qty/Price combination
190             1871   Customer_555          More than 3 purchases
212             3269   Customer_622  Unusual Qty/Price combination
...              ...            ...                            ...
9619            5188  Customer_1354          More than 3 purchases
9647            2366  Customer_1709          More than 3 purchases
9699            3999  Customer_1941  Unusual Qty/Price combination
9718            4483   Customer_999  Unusual Qty/Price combination
9729            5970   Customer_489  Unusual Qty/Price combination

[244 rows x 3 columns]

##Rolling Window Analysis

Calculating the 7-day moving average of daily revenue.

In [81]:
daily_revenue = full_data.groupby(full_data['timestamp'].dt.date)['revenue'].sum().reset_index()

In [82]:
daily_revenue

      timestamp  revenue
0    2023-01-01  8450.39
1    2023-01-02  5574.01
2    2023-01-03  3094.81
3    2023-01-04  3792.09
4    2023-01-05  4810.72
..          ...      ...
726  2024-12-27  3209.58
727  2024-12-28  2832.87
728  2024-12-29  4434.16
729  2024-12-30  6795.94
730  2024-12-31  5320.83

[731 rows x 2 columns]

In [83]:
daily_revenue.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  731 non-null    object
 1   revenue    731 non-null    float64
dtypes: float64(1), object(1)
memory usage: 11.6+ KB

Convert Dtype of timestamp from object to date

In [84]:
daily_revenue['timestamp'] = pd.to_datetime(daily_revenue['timestamp'])
daily_revenue = daily_revenue.set_index('timestamp')

In [85]:
daily_revenue.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 731 entries, 2023-01-01 to 2024-12-31
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   revenue  731 non-null    float64
dtypes: float64(1)
memory usage: 11.4 KB

 Apply the rolling window function

In [86]:

daily_revenue['7day_MA'] = daily_revenue['revenue'].rolling(
    window=7,
    min_periods=1  #this is used to handle cases where period is less than 7 days
).mean()

In [87]:
daily_revenue

            revenue      7day_MA
timestamp
2023-01-01  8450.39  8450.390000
2023-01-02  5574.01  7012.200000
2023-01-03  3094.81  5706.403333
2023-01-04  3792.09  5227.825000
2023-01-05  4810.72  5144.404000
...             ...          ...
2024-12-27  3209.58  3484.006093
2024-12-28  2832.87  3266.298950
2024-12-29  4434.16  3344.446093
2024-12-30  6795.94  3739.367522
2024-12-31  5320.83  3905.345714

[731 rows x 2 columns]

##Feature Engineering

For each customer, creating:

In [88]:
full_data.columns

Index(['transaction_id', 'customer_id', 'product_id', 'quantity', 'price',
       'timestamp', 'payment_method', 'transaction_hour', 'transaction_day',
       'transaction_month', 'revenue', 'customer_name', 'email', 'signup_date',
       'country', 'age', 'product_name', 'category', 'supplier_id',
       'cost_price', 'profit_margin'],
      dtype='object')

In [89]:
full_data.head(3)

,transaction_id,customer_id,product_id,quantity,price,timestamp,payment_method,transaction_hour,transaction_day,transaction_month,...,customer_name,email,signup_date,country,age,product_name,category,supplier_id,cost_price,profit_margin
0,4292,130,89,1.0,112.87,2024-08-17 09:13:00,Credit Card,9,17,8,...,Customer_129,customer_129129@yahoo.com,2023-12-20,Canada,40.0,Product_HOM_88,Books,2,59.72,47.089572
1,9107,271,98,1.0,211.90,2023-11-17 20:50:00,PayPal,20,17,11,...,Customer_270,customer_270270@email.com,2022-11-09,India,21.0,Product_BOO_97,Home & Garden,26,84.89,59.938650
2,7842,66,33,1.0,225.04,2023-03-21 23:23:00,Bank Transfer,23,21,3,...,Customer_65,customer_6565@email.com,2023-08-08,Canada,62.0,Product_BOO_32,Electronics,22,103.61,53.959296

days_since_signup: Days between signup date and first transaction

In [90]:
first_purchase_date = full_data.groupby('customer_id')['timestamp'].min()

In [91]:
first_purchase_date

customer_id
1      2023-02-05 16:03:00
2      2023-10-30 06:36:00
3      2023-02-04 06:44:00
4      2023-04-28 16:11:00
5      2023-05-19 02:58:00
               ...
1994   2023-04-13 05:52:00
1996   2023-12-06 13:13:00
1997   2023-10-23 08:53:00
1998   2024-04-02 04:46:00
1999   2023-03-29 16:17:00
Name: timestamp, Length: 1687, dtype: datetime64[ns]

In [98]:
signup_date = full_data.groupby('customer_id')['signup_date'].first()

In [99]:
signup_date

customer_id
1       2022-01-28
2       2023-10-28
3       2023-04-05
4       2022-01-07
5       2022-12-15
           ...
1994    2024-03-03
1996    2022-02-25
1997    2023-04-20
1998    2023-05-28
1999    2023-08-23
Name: signup_date, Length: 1687, dtype: object

In [109]:
days_since_signup = (first_purchase_date - pd.to_datetime(signup_date)).dt.days.rename('days_since_signup')

In [110]:
days_since_signup

customer_id
1       373
2         2
3       -60
4       476
5       155
       ...
1994   -325
1996    649
1997    186
1998    310
1999   -147
Name: days_since_signup, Length: 1687, dtype: int64

category_diversity: Number of unique product categories purchased

In [111]:
category_diversity = full_data.groupby('customer_id')['category'].nunique().rename('category_diversity')

In [112]:
category_diversity

customer_id
1       3
2       2
3       3
4       3
5       2
       ..
1994    4
1996    1
1997    1
1998    1
1999    2
Name: category_diversity, Length: 1687, dtype: int64

In [113]:
preferred_payment = (full_data.groupby('customer_id')['payment_method'].apply(lambda x: x.mode().iloc[0] if not x.mode().empty else 'N/A'))

In [114]:
preferred_payment

customer_id
1              PayPal
2       Bank Transfer
3       Bank Transfer
4       Bank Transfer
5       Bank Transfer
            ...
1994    Bank Transfer
1996      Credit Card
1997      Credit Card
1998      Credit Card
1999       Debit Card
Name: payment_method, Length: 1687, dtype: object